openapi: 3.0.3
info:
  contact:
    name: Zoho Creator Support
    url: https://www.zoho.com/creator/help/
    email: support@zohocreator.com
  description: Zoho Creator provides RESTful APIs that allow you to securely interface with your Zoho Creator applications and perform a variety of tasks.
  title: Zoho Creator API v2 conforming OpenAPI Specification Bulk Insert APIs Meta APIs API
  version: '2.0'
servers:
- description: US Data Center API Server
  url: https://zohoapis.com/
- description: IN Data Center API Server
  url: https://zohoapis.in/
- description: EU Data Center API Server
  url: https://zohoapis.eu/
- description: JP Data Center API Server
  url: https://zohoapis.jp/
- description: SA Data Center API Server
  url: https://zohoapis.sa/
- description: CA Data Center API Server
  url: https://zohoapis.ca/
- description: AU Data Center API Server
  url: https://zohoapis.com.au/
- description: CN Data Center API Server
  url: https://zohoapis.com.cn/
tags:
- name: Meta APIs
  description: Get list of applications, forms, reports and fields
paths:
  /creator/v2/meta/{account_owner_name}/{app_link_name}/sections:
    get:
      summary: Get Sections
      security:
      - oauth2:
        - ZohoCreator.meta.application.READ
      description: This API fetches the information about the sections and underlying components—forms, reports, and pages—defined for a Zoho Creator application's web form factor.
      responses:
        '200':
          $ref: '#/components/responses/get_sections_response'
        '401':
          description: '{''code'': 1030, ''message'': ''Authorization Failure. The access token is either invalid or has expired.''}, {''code'': 2945, ''message'': ''This is an invalid oauthscope. Please regenerate the oauthtoken corresponding to the API with proper oauthscope.''}, {''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      tags:
      - Meta APIs
  /creator/v2/meta/{account_owner_name}/{app_link_name}/form/{form_link_name}/fields:
    get:
      summary: Get Fields
      security:
      - oauth2:
        - ZohoCreator.meta.form.READ
      description: This API fetches the meta information of all the fields present in a form of a Zoho Creator application.
      responses:
        '200':
          $ref: '#/components/responses/get_fields_response'
        '401':
          description: '{''code'': 1030, ''message'': ''Authorization Failure. The access token is either invalid or has expired.''}, {''code'': 2945, ''message'': ''This is an invalid oauthscope. Please regenerate the oauthtoken corresponding to the API with proper oauthscope.''}, {''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 2893, ''message'': ''No form named FORM_NAME found. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      - $ref: '#/components/parameters/form_link_name'
      tags:
      - Meta APIs
  /creator/v2/meta/{account_owner_name}/{app_link_name}/reports:
    get:
      summary: Get Reports
      security:
      - oauth2:
        - ZohoCreator.meta.application.READ
      description: This API fetches the meta information of all the reports present in a Zoho Creator application.
      responses:
        '200':
          $ref: '#/components/responses/get_reports_response'
        '401':
          description: '{''code'': 1030, ''message'': ''Authorization Failure. The access token is either invalid or has expired.''}, {''code'': 2945, ''message'': ''This is an invalid oauthscope. Please regenerate the oauthtoken corresponding to the API with proper oauthscope.''}, {''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 2894, ''message'': ''No report named REPORT_NAME found. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      tags:
      - Meta APIs
  /creator/v2/meta/{account_owner_name}/{app_link_name}/pages:
    get:
      summary: Get Pages
      security:
      - oauth2:
        - ZohoCreator.meta.application.READ
      description: This API fetches the meta information of all the pages present in a Zoho Creator application.
      responses:
        '200':
          $ref: '#/components/responses/get_pages_response'
        '401':
          description: '{''code'': 1030, ''message'': ''Authorization Failure. The access token is either invalid or has expired.''}, {''code'': 2945, ''message'': ''This is an invalid oauthscope. Please regenerate the oauthtoken corresponding to the API with proper oauthscope.''}, {''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 1090, ''message'': ''No component named COMPONENT_NAME found in this application. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      tags:
      - Meta APIs
  /creator/v2/meta/applications:
    get:
      summary: Get Applications
      security:
      - oauth2:
        - ZohoCreator.dashboard.READ
      description: This API fetches the meta information of all the applications that you have access to.
      responses:
        '200':
          $ref: '#/components/responses/get_applications_response'
        '401':
          description: '{''code'': 1030, ''message'': ''Authorization Failure. The access token is either invalid or has expired.''}, {''code'': 2945, ''message'': ''This is an invalid oauthscope. Please regenerate the oauthtoken corresponding to the API with proper oauthscope.''}, {''code'': 1000, ''message'': ''IAM Error''}'
        '404':
          description: '{''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      tags:
      - Meta APIs
  /creator/v2/meta/{account_owner_name}/applications:
    get:
      summary: Get Applications by Workspace
      security:
      - oauth2:
        - ZohoCreator.dashboard.READ
      description: This API fetches the meta information of the applications hosted in a given workspace that you have access to.
      responses:
        '200':
          $ref: '#/components/responses/get_applications_by_workspace_response'
        '401':
          description: '{''code'': 1030, ''message'': ''Authorization Failure. The access token is either invalid or has expired.''}, {''code'': 2945, ''message'': ''This is an invalid oauthscope. Please regenerate the oauthtoken corresponding to the API with proper oauthscope.''}, {''code'': 1000, ''message'': ''IAM Error''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      tags:
      - Meta APIs
  /creator/v2/meta/{account_owner_name}/{app_link_name}/forms:
    get:
      summary: Get Forms
      security:
      - oauth2:
        - ZohoCreator.meta.application.READ
      description: This API fetches the meta information of all the forms present in a Zoho Creator application.
      responses:
        '200':
          $ref: '#/components/responses/get_forms_response'
        '401':
          description: '{''code'': 1030, ''message'': ''Authorization Failure. The access token is either invalid or has expired.''}, {''code'': 2945, ''message'': ''This is an invalid oauthscope. Please regenerate the oauthtoken corresponding to the API with proper oauthscope.''}, {''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 2893, ''message'': ''No form named FORM_NAME found. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      tags:
      - Meta APIs
components:
  responses:
    get_applications_by_workspace_response:
      description: '{''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              applications:
                type: array
                items:
                  type: object
                  properties:
                    application_name:
                      type: string
                    date_format:
                      type: string
                    creation_date:
                      type: string
                    link_name:
                      type: string
                    category:
                      format: int32
                      type: integer
                    time_zone:
                      type: string
                    created_by:
                      type: string
                    workspace_name:
                      type: string
                example: '[{"application_name":"Zylker Store","date_format":"MMM dd,yyyy","creation_date":"20-Apr-2020 16:23:50","link_name":"zylker-store","category":2,"time_zone":"SystemV/PST8","created_by":"","workspace_name":"megan9"},{"application_name":"Zylker Self-Service","date_format":"MM-dd-yyyy","creation_date":"30-Sep-2019 02:21:51","link_name":"zylker-self-service","category":2,"time_zone":"America/Los_Angeles","created_by":"","workspace_name":"megan9"}]'
    get_applications_response:
      description: '{''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              applications:
                type: array
                items:
                  type: object
                  properties:
                    application_name:
                      type: string
                    date_format:
                      type: string
                    creation_date:
                      type: string
                    link_name:
                      type: string
                    category:
                      format: int32
                      type: integer
                    time_zone:
                      type: string
                    created_by:
                      type: string
                    workspace_name:
                      type: string
                example: '[{"application_name":"Zylker Store","date_format":"MMM dd,yyyy","creation_date":"20-Apr-2020 16:23:50","link_name":"zylker-store","category":1,"time_zone":"SystemV/PST8","created_by":"jason18","workspace_name":"jason18"},{"application_name":"Zylker Self-Service","date_format":"MM-dd-yyyy","creation_date":"30-Sep-2019 02:21:51","link_name":"zylker-self-service","category":2,"time_zone":"America/Los_Angeles","created_by":"","workspace_name":"megan"}]'
    get_fields_response:
      description: '{''code'': 3910, ''message'': ''No forms available.''}, {''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              fields:
                type: array
                items:
                  type: object
                  properties:
                    unique:
                      type: boolean
                    max_char:
                      format: int32
                      type: integer
                    display_name:
                      type: string
                    link_name:
                      type: string
                    type:
                      format: int32
                      type: integer
                    mandatory:
                      type: boolean
                example: '[{"unique":false,"max_char":255,"display_name":"Name","link_name":"Name","type":29,"mandatory":false},{"unique":true,"max_char":255,"display_name":"Email","link_name":"Email","type":3,"mandatory":false}]'
    get_pages_response:
      description: '{''code'': 3920, ''message'': ''No pages available.''}, {''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              pages:
                type: array
                items:
                  type: object
                  properties:
                    display_name:
                      type: string
                    link_name:
                      type: string
                example: '[{"display_name":"Assets Dashboard","link_name":"Asset_Dashboard"},{"display_name":"Home","link_name":"Home_Page"}]'
    get_reports_response:
      description: '{''code'': 3930, ''message'': ''No reports available.''}, {''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              reports:
                type: array
                items:
                  type: object
                  properties:
                    display_name:
                      type: string
                    link_name:
                      type: string
                    type:
                      format: int32
                      type: integer
                example: '[{"display_name":"Map Report","link_name":"Map_Report","type":5},{"display_name":"Spreadsheet Report","link_name":"Spreadsheet_Report","type":6}]'
              code:
                format: int32
                type: integer
                example: 3000
    get_forms_response:
      description: '{''code'': 3910, ''message'': ''No forms available.''}, {''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              forms:
                type: array
                items:
                  type: object
                  properties:
                    display_name:
                      type: string
                    link_name:
                      type: string
                    type:
                      format: int32
                      type: integer
                example: '[{"display_name":"Add Order","link_name":"Order_Form","type":1},{"display_name":"Order Stateless Form","link_name":"Order_Stateless_Form","type":2}]'
    get_sections_response:
      description: '{''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              sections:
                type: array
                items:
                  type: object
                  properties:
                    components:
                      type: array
                      items:
                        type: object
                        properties:
                          page_type:
                            format: int32
                            type: integer
                          type:
                            format: int32
                            type: integer
                          link_name:
                            type: string
                          display_name:
                            type: string
                    display_name:
                      type: string
                    link_name:
                      type: string
                example: '[{"components":[{"page_type":2,"type":3,"link_name":"Dashboard","display_name":"Dashboard"}],"display_name":"Dashboard","link_name":"Dashboard"},{"components":[{"view_type":1,"type":2,"link_name":"All_Order_Line_Items","display_name":"All Order Line Items"},{"view_type":1,"type":2,"link_name":"All_Orders","display_name":"All Orders"}],"display_name":"Orders","link_name":"Orders1"}]'
  parameters:
    account_owner_name:
      schema:
        type: string
      in: path
      name: account_owner_name
      version: 2
      required: true
    version:
      schema:
        type: string
      in: path
      name: version
      version: 2
      required: true
    form_link_name:
      schema:
        type: string
      in: path
      name: form_link_name
      version: 2
      required: true
    app_link_name:
      schema:
        type: string
      in: path
      name: app_link_name
      version: 2
      required: true
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          tokenUrl: https://accounts.zoho.com/oauth/v2/token
          authorizationUrl: https://accounts.zoho.com/oauth/v2/auth?access_type=offline
          scopes:
            ZohoCreator.report.CREATE: Upload file to a record in a report.
            ZohoCreator.bulk.READ: Check the status or download the result of a bulk read or bulk insert job.
            ZohoCreator.bulk.CREATE: Create a bulk read or bulk insert job.
            ZohoCreator.dashboard.READ: Get applications.
            ZohoCreator.report.UPDATE: Update records in a report.
            ZohoCreator.meta.application.READ: Get forms, reports in an application.
            ZohoCreator.report.READ: Get records and download file in a report.
            ZohoCreator.form.CREATE: Add records to a form.
            ZohoCreator.report.DELETE: Delete records in a report.
            ZohoCreator.meta.form.READ: Get list of fields in a form.
      type: oauth2
externalDocs:
  description: Zoho Creator API v2 Documentation
  url: https://www.zoho.com/creator/help/api/v2/
