openapi: 3.0.3
info:
  contact:
    name: Zoho Creator Support
    url: https://www.zoho.com/creator/help/
    email: support@zohocreator.com
  description: Zoho Creator provides RESTful APIs that allow you to securely interface with your Zoho Creator applications and perform a variety of tasks.
  title: Zoho Creator API v2 conforming OpenAPI Specification Bulk Insert APIs Publish APIs API
  version: '2.0'
servers:
- description: US Data Center API Server
  url: https://zohoapis.com/
- description: IN Data Center API Server
  url: https://zohoapis.in/
- description: EU Data Center API Server
  url: https://zohoapis.eu/
- description: JP Data Center API Server
  url: https://zohoapis.jp/
- description: SA Data Center API Server
  url: https://zohoapis.sa/
- description: CA Data Center API Server
  url: https://zohoapis.ca/
- description: AU Data Center API Server
  url: https://zohoapis.com.au/
- description: CN Data Center API Server
  url: https://zohoapis.com.cn/
tags:
- name: Publish APIs
  description: APIs to add or get records in a published form/report
paths:
  /creator/v2/publish/{account_owner_name}/{app_link_name}/report/{report_link_name}/{record_ID}:
    get:
      summary: Publish API Get Record Detail View
      description: This API fetches the data displayed in the detail view of a record, which is identified by the ID value passed. This API will not fetch the records displayed in the related data blocks of the detail view.
      responses:
        '200':
          $ref: '#/components/responses/publish_api_get_record_detail_view_response'
        '401':
          description: '{''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 2898, ''message'': ''Permission denied to view record(s).''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 2894, ''message'': ''No report named REPORT_NAME found. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      - $ref: '#/components/parameters/report_link_name'
      - $ref: '#/components/parameters/record_ID'
      - $ref: '#/components/parameters/privatelink'
      tags:
      - Publish APIs
  /creator/v2/publish/{account_owner_name}/{app_link_name}/report/{report_link_name}:
    get:
      summary: Publish API Get Records Quick View
      description: This API fetches the records displayed by a report of a Zoho Creator application. Its response will contain the data from the fields displayed in the report's quick view. A maximum of 200 records can be fetched per request.
      responses:
        '200':
          $ref: '#/components/responses/publish_api_get_records_quick_view_response'
        '401':
          description: '{''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 2898, ''message'': ''Permission denied to view record(s).''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 2894, ''message'': ''No report named REPORT_NAME found. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      - $ref: '#/components/parameters/report_link_name'
      - $ref: '#/components/parameters/privatelink'
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/criteria'
      tags:
      - Publish APIs
  /creator/v2/publish/{account_owner_name}/{app_link_name}/form/{form_link_name}:
    post:
      summary: Publish API Add Records
      requestBody:
        $ref: '#/components/requestBodies/publish_api_add_records_request'
      description: This API adds one or more records to a form in your Zoho Creator application. Subject to validations, each JSON object in the input file will be added as a record. A maximum of 200 records can be created per request.
      responses:
        '200':
          $ref: '#/components/responses/publish_api_add_records_response'
        '400':
          description: '{''code'': 3020, ''message'': ''API request''s body is either missing or incomplete.''}'
        '401':
          description: '{''code'': 1000, ''message'': ''IAM Error''}'
        '403':
          description: '{''code'': 2933, ''message'': ''You do not have permission to access this application.''}, {''code'': 2899, ''message'': ''Permission denied to add record(s).''}, {''code'': 1080, ''message'': ''API calls cannot be made to disabled applications. Please check with the application admin.''}, {''code'': 2965, ''message'': ''No more entries allowed as per the form validation.''}'
        '404':
          description: '{''code'': 1040, ''message'': ''No account owner named OWNER_NAME found.''}, {''code'': 2892, ''message'': ''No application named APPLICATION_NAME found. Please check and try again.''}, {''code'': 2893, ''message'': ''No form named FORM_NAME found. Please check and try again.''}, {''code'': 1000, ''message'': ''Invalid API URL format.''}, {''code'': 2930, ''message'': ''Error Occurred. We are sorry for the inconvenience.''}'
        '405':
          description: '{''code'': 1020, ''message'': ''METHOD is not a valid method for this request.''}'
        '429':
          description: '{''code'': 2955, ''message'': ''You have reached your API call limit for a minute. Please try again after sometime.''}'
      parameters:
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/account_owner_name'
      - $ref: '#/components/parameters/app_link_name'
      - $ref: '#/components/parameters/form_link_name'
      - $ref: '#/components/parameters/privatelink'
      tags:
      - Publish APIs
components:
  responses:
    publish_api_get_record_detail_view_response:
      description: '{''code'': 3190, ''message'': ''No record with ID RECORD_ID found.''}, {''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              data:
                type: object
                example: '{"Multi_Line":"Multiples\nLines\nof Text","Email":"p.boyle@zylker.com","Phone_Number":"+15704961113"}'
    publish_api_get_records_quick_view_response:
      description: '{''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                format: int32
                type: integer
                example: 3000
              data:
                type: array
                items:
                  type: object
                example: '[{"Multi_Line":"Multiples\nLines\nof Text","Email":"p.boyle@zylker.com","Phone_Number":"+15704961113"},{"Multi_Line":"Multiples\nLines\nof Text","Email":"jason@zylker.com","Phone_Number":"+15704961113"}]'
    publish_api_add_records_response:
      description: '{''code'': 3950, ''message'': ''A maximum of 200 records can be added per request.''}, {''code'': 3070, ''message'': ''Data validation failure: [ARRAY]''}, {''code'': 3060, ''message'': ''Account''s record limit has been reached. Please upgrade to add more data.''}, {''code'': 4000, ''message'': ''Account''s Developer API limit has been reached. Please upgrade to execute more REST API calls.''}'
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      format: int32
                      type: integer
                    data:
                      type: object
                      properties:
                        ID:
                          type: string
                    message:
                      type: string
                    tasks:
                      type: object
                      properties:
                        openurl:
                          type: object
                          properties:
                            type:
                              type: string
                            url:
                              type: string
                example: '[{"code":3000,"data":{"Email":"jason@zylker.com","Phone_Number":"+16103948336","ID":"3888833000000121319"},"message":"Data Added Successfully!","tasks":{"openurl":{"type":"Same window","url":"#Report:All_Orders"}}},{"code":3000,"data":{"Email":"p.boyle@zylker.com","Phone_Number":"+12096173907","ID":"3888833000000121339"},"message":"Data Added Successfully!","tasks":{"openurl":{"type":"Same window","url":"#Report:All_Orders"}}}]'
              code:
                format: int32
                type: integer
                example: 3000
  requestBodies:
    publish_api_add_records_request:
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                type: object
                version: 2
                properties:
                  fields:
                    type: array
                    items:
                      type: string
                    example: '["Phone_Number","Email"]'
                  message:
                    type: boolean
                    example: true
                  tasks:
                    type: boolean
                    example: true
              data:
                type: array
                version: 2
                items:
                  type: object
                example: '[{"Email":"jason@zylker.com","Phone_Number":"+16103948336"},{"Email":"p.boyle@zylker.com","Phone_Number":"+12096173907"}]'
  parameters:
    from:
      schema:
        format: int32
        type: integer
        minimum: 1
      in: query
      name: from
      version: 2
      required: false
    privatelink:
      schema:
        type: string
      in: query
      name: privatelink
      version: 2
      required: true
    account_owner_name:
      schema:
        type: string
      in: path
      name: account_owner_name
      version: 2
      required: true
    criteria:
      schema:
        type: string
      in: query
      name: criteria
      version: 2
      required: false
    version:
      schema:
        type: string
      in: path
      name: version
      version: 2
      required: true
    report_link_name:
      schema:
        type: string
      in: path
      name: report_link_name
      version: 2
      required: true
    form_link_name:
      schema:
        type: string
      in: path
      name: form_link_name
      version: 2
      required: true
    record_ID:
      schema:
        type: string
      in: path
      name: record_ID
      version: 2
      required: true
    app_link_name:
      schema:
        type: string
      in: path
      name: app_link_name
      version: 2
      required: true
    limit:
      schema:
        format: int32
        maximum: 200
        type: integer
      in: query
      name: limit
      version: 2
      required: false
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          tokenUrl: https://accounts.zoho.com/oauth/v2/token
          authorizationUrl: https://accounts.zoho.com/oauth/v2/auth?access_type=offline
          scopes:
            ZohoCreator.report.CREATE: Upload file to a record in a report.
            ZohoCreator.bulk.READ: Check the status or download the result of a bulk read or bulk insert job.
            ZohoCreator.bulk.CREATE: Create a bulk read or bulk insert job.
            ZohoCreator.dashboard.READ: Get applications.
            ZohoCreator.report.UPDATE: Update records in a report.
            ZohoCreator.meta.application.READ: Get forms, reports in an application.
            ZohoCreator.report.READ: Get records and download file in a report.
            ZohoCreator.form.CREATE: Add records to a form.
            ZohoCreator.report.DELETE: Delete records in a report.
            ZohoCreator.meta.form.READ: Get list of fields in a form.
      type: oauth2
externalDocs:
  description: Zoho Creator API v2 Documentation
  url: https://www.zoho.com/creator/help/api/v2/
